/* algemene css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #D3EDED;
    max-width: 1900px;
    margin: 0 auto;
}

/* specifieke css */
main .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.logomain {
    width: 130px;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 20px;
}


nav {
    flex: 1;
    text-align: right;
    margin-right: 90px;
    margin-top: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ebb548;
    transition-duration: 0.3s;
}

.mainabout {
    padding-top: 0;
}

.aboutbutton {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 30px;
    outline: none;
    color: black;
    background: #FFF2D8;
    border-radius: 6px;
    transition: width 0.5s;
    cursor: pointer;
}

.aboutbutton:hover {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 30px;
    outline: none;
    color: black;
    background: white;
    border-radius: 6px;
    transition: width 0.5s;
    cursor: pointer;
}

main {
    padding: 30px;
    margin: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    height: 100%;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 70px;
}

#navbarbutton {
    width: 120px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: #FFF2D8;
    border-radius: 6px;
    transition: width 0.5s;
    margin-left: 30px;
    cursor: pointer;
}

#navbarbutton:hover {
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: white;
    border-radius: 6px;
    transition: width 0.5s;
    margin-left: 30px;
    cursor: pointer;
}

.illustratie2 {
    height: 450px;
    margin: 0 auto;
}

.graphic {
    font-size: 50px;
    text-align: center;
    color: #77BCBD;
}

.developer {
    font-size: 50px;
    text-align: center;
    color: #6BA2E2;
}

.aboutmerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.about {
    margin: 0 auto;
    font-size: 70px;
    text-align: left;
    color: #77BCBD;
    font-family: 'Inter', sans-serif;
}

.me {
    font-size: 115px;
    text-align: left;
    margin-top: -60px;
    color: #6BA2E2;
}

#contactpage button {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: #FFF2D8;
    border-radius: 6px;
    transition: width 0.5s;
    margin-right: 15px;
    cursor: pointer;
}

#contactpage button:hover {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: white;
    border-radius: 6px;
    transition: width 0.5s;
    margin-right: 15px;
    cursor: pointer;
}

#portfolio button {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: #FFF2D8;
    border-radius: 6px;
    transition: width 0.5s;
    margin-left: 15px;
    cursor: pointer;
}

#portfolio button:hover {
    width: 140px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: white;
    border-radius: 6px;
    transition: width 0.5s;
    margin-left: 15px;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#contactpage button:hover {

}

.uitleg {
    font-size: 20px;
    text-align: left;
    color: #77BCBD;
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
}


footer {
    padding: 20px;
}


.col-2 {
    margin-top: 40px;
    position: relative;
    margin-right: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contactmain {
    display: flex;
    justify-content: space-between;
}

.illustratie {
    height: 450px;
    position: sticky;
    margin: 0 auto;
}

.illustratie {
    position: absolute;
}

.social-links svg {
    height: 20px;
    margin: 30px;
    color: white;
    font-size: 25px;
    position: sticky;
    fill: #80C0BE;
}

.social-links a {
    text-decoration: none;
    color: #80C0BE;
}

.social-links svg:hover {
    color: #6BA2E2;
    fill: #6BA2E2;
    transition-duration: 0.3s;
}

.social-links {
    text-align: center;
}

#onderkant h5 {
    text-align: center;
    color: #80C0BE;

}

#contactpage {
    text-decoration: none;
    cursor: pointer;
}

.social-links-contact {
    display: flex;
    justify-content: center;
}

.social-links-contact svg:hover {
    color: #ebb548;
    fill: #ebb548;
    transition-duration: 0.3s;
}

.social-links-contact a {
    text-decoration: none;
    margin: 30px;
}

#rechthoek {
    width: 1250px;
    height: 520px;
    background: #81B4C6;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-basis: 100%;
    padding-right: 20px;
}

p {

    width: 750px;
    height: 341px;
    text-align: left;
    font: normal normal normal 24px/31px Inter;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    z-index: 3;

}

.hallodaar {
    width: 432px;
    height: 100px;
    text-align: center;
    font: normal normal normal 83px/100px Inter;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    z-index: 3;
}

#rechthoek img {

    width: 428px;
    height: 434px;
    position: absolute;
    z-index: 3;
    margin-left: 50rem;
    margin-top: 3.2rem;
}

#rechthoek p {

    position: absolute;
    z-index: 3;
    margin-left: 2rem;
    margin-top: 9.5rem;
}

#rechthoek h1 {

    position: absolute;
    z-index: 3;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

#rechthoek img {

    position: sticky;
    margin-top: 40px;
}


#button-1 {
    background-color: #ebb548;
}

#button-4 {
    background-color: #ebb548;
}

.scroll {
    width: auto;
    height: 306px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    overflow-y: hidden;
    display: flex;

}

.scroll::-webkit-scrollbar {
    height: 10px;
    background-color: #a8c6d2;
    border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #295b69;
}

main {
    margin: 0;
}

.illustraties h1 {
    font-size: 50px;
    color: white;
    margin-left: 30px;
    font-family: 'Varela Round', sans-serif;
}

.ontwerpen h1 {
    font-size: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 500px;

}

input {
    width: 500px;
    height: 20px;
    border: 0;
    border-radius: 13px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

form {
    display: flex;
    width: 500px;
    border-radius: 13px;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #80C0BE;
    font-family: 'inter', sans-serif;
    font-weight: bold;
}

.contactmain {
    padding: 0;
}

.contactimg {
    height: 500px;
    margin-top: -40px;
}

input,
textarea {
    border: 1px solid black;
    width: 70%;
    padding: 10px;
    justify-content: left;
    flex-direction: column;
}

form button {
    width: 120px;
    border: 1px solid black;
    height: 40px;
    padding: 12px 10px;
    margin-left: 10px;
    margin-top: 9px;
    outline: none;
    color: black;
    background: #FFF2D8;
    border-radius: 6px;
    transition: width 0.5s;
    cursor: pointer;
}


form button:hover {
    background-color: white;
}

#status-message {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

textarea {
    width: 350px;
    height: 190px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    margin-bottom: 30px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid black;
}

.contactme {
    display: flex;
    justify-content: left;
    margin-bottom: 0;
}

.contact-form {
    height: 800px;
    width: 700px;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 0;
}

.row5 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
    margin-left: 20px;
}

.row5 .col-2 img {

    margin-right: 30px;
}

label {
    font-size: 20px;
    color: #80C0BE;
    padding: 7px;
    margin-left: 3px;
    font-family: 'inter', sans-serif;
}

.portfolio-images4 {
    width: auto;
    display: flex;
    justify-content: center;

}

.portfolio-images4 img {
    height: 280px;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;

}

.portfolio-images5 img {
    height: 280px;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;

}

.portfolio-images1 {
    width: auto;
    display: flex;
    justify-content: center;

}

.portfolio-images1 img {
    height: 280px;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;

}

.portfolio-images2 {
    width: auto;
    display: flex;
    justify-content: center;

}

.portfolio-images5 {
    width: auto;
    display: flex;
    justify-content: center;

}

.lvgraphics {
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
    justify-content: center;
    font-size: 30px;
    color: #80C0BE;
    font-family: 'inter', sans-serif;
}

.positivitees {
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
    justify-content: center;
    font-size: 30px;
    color: #80C0BE;
    font-family: 'inter', sans-serif;
}

.jrvisuals {
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
    justify-content: center;
    font-size: 30px;
    color: #80C0BE;
    font-family: 'inter', sans-serif;
}

.portfolio-images2 img {
    height: 340px;
    flex-direction: row;
    padding: 8px;
    border-radius: 13px;

}

.portfolionaam {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #6BA2E2;
    font-family: 'inter', sans-serif;
}

.stage {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    font-size: 30px;
    color: #80C0BE;
    font-family: 'inter', sans-serif;
}

.portfolio-images3 {
    width: auto;
    display: flex;
    justify-content: center;

}

.bedankt {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.bedankt h1 {
    text-align: center;
}

.portfolio-images3 img {
    height: 280px;
    flex-direction: row;
    padding: 8px;
    border-radius: 13px;
}


@media only screen and (max-width: 949px) {

    nav ul {
        width: 100%;
        position: relative;
        top: 90px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px;
    }

    nav ul li a {
        color: white;
    }

    nav {
        margin: 0;
    }

    .about {
        margin: 0 auto;
        font-size: 90px;
        text-align: center;
        color: #77BCBD;
        font-family: 'Inter', sans-serif;
    }

    .me {
        font-size: 80px;
        text-align: center;
        margin-top: -65px;
        color: #6BA2E2;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
        align-items: center;
    }

    .illustratie {
        width: 340px;
        height: 341px;
        position: relative;
    }

    .color-circle {
        position: absolute;
        width: 340px;
        height: 341px;
    }

    .logomain {
        width: 150px;
        cursor: pointer;
        margin-left: 40px;
        margin-top: -100px;
    }

    .col-1 {
        flex-basis: 40%;
        position: relative;
        margin-left: 20px;
    }

    .col-1 h2.about {
        font-size: 80px;

    }

    .col-1 h6.me {
        font-size: 130px;

    }

    .col-1 h2 {
        font-size: 50px;

    }

    .illustratie2 {
        height: 400px;
        position: relative;
    }

    footer {
        margin-bottom: 30px;
    }


    .illustraties h1 {
        font-size: 50px;
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }

    main {
        margin-top: 3.2rem;
        margin-right: 0;
        padding-top: 5px;
        margin-left: 0;
        padding-left: 0;
    }

    .scroll {
        width: 1900px;
        height: 400px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 30px;
        overflow-y: hidden;
        display: flex;
    }

    .portfolio-buttons button {

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .portfolio-buttons button:hover {
        background-color: #ebb548;
        cursor: pointer;
        transition: width 0.5s;
    }

    .portfolio-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -20px;
    }

    .portfolio-wpl-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        align-items: center;

    }

    .portfolio-wpl-buttons button {
        border: 0;
        display: flex;
        color: white;
        background: #81B4C6;
        outline: none;
        border-radius: 20px;
        justify-content: center;
        font-size: 40px;
        margin-left: 45px;
        margin-bottom: 20px;
        align-items: center;
    }

    .scroll {
        width: auto;
        height: 306px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px;
        overflow-y: hidden;
        display: flex;

    }

    .social-links-contact {
        margin-top: 30px;
    }

    .portfolio-images1 {
        padding-top: 0px;
        width: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .portfolio-images1 img {
        height: 270px;
        width: auto;
        padding: 8px;
        margin: auto;
        justify-content: center;


    }

    .portfolio-main {
        margin: 0;
        padding: 0;
        padding-top: 30px;
    }

    .portfolio-images2 {
        width: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .portfolio-images2 img {
        height: 270px;
        width: auto;
        padding: 8px;
        margin: 0 auto;

    }

    .portfolio-images3 {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0;

    }

    .portfolio-images3 img {
        height: 270px;
        padding: 8px;
        margin: 0 auto;

    }

    .portfolio-images4 {
        width: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .portfolio-images4 img {
        height: 270px;
        width: auto;
        padding: 8px;
        margin: auto;
        justify-content: center;


    }

    .portfolio-images5 {
        width: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .portfolio-images5 img {
        height: 270px;
        width: auto;
        padding: 8px;
        margin: auto;
        justify-content: center;


    }

    .contactimg {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .row5 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        width: 50%;
    }

    form#contact-form {
        padding-top: 20px;
        width: 100%;
    }

    .contactmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactmain form {
        width: 100%;
        border-radius: 35px;
        position: relative;
        display: flex;
        padding: 0;
        margin-top: 0px;
    }

    .contactmain .col-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 0;
    }


    input {
        width: 90%;
        height: 25px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        outline: none;
    }

    form {
        display: flex;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        flex-direction: column;
        margin-top: -30px;
        justify-content: center;
        align-items: center;
    }

    label {
        padding: 10px;
        display: block;
        margin-bottom: 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 70%;
        padding: 10px;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    textarea#message {
        height: 200px;
        margin-bottom: 20px;
        width: 70%;
        border: 1px solid black;
    }

    form button {
        background-color: #FFF2D8;
        color: black;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    form button:hover {
        background-color: #white;
    }

    #status-message {
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
    .contactmain button {
        width: 300px;
        margin-top: 20px;
    }

    textarea {
        width: 400px;
        height: 200px;
        border: 0;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        font-size: 20px;
        outline: none;
    }

    .bedankt {
        margin-top: 50px;
    }

    .bedankt h1 {
        text-align: center;
    }

    .row {
        display: flex;
        margin-top: 40px;
        justify-content: center;
    }

    .aboutmerow {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .logomain {
        position: relative;
        padding: 30px;
        margin: 0 auto;

    }

    .col-1 {
        padding: 15px;
        margin: 0
    }

    .col-2 {
        padding: 15px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    #navbarbutton {
        margin-right: 30px;
        padding: 10px;
    }
}

@media only screen and (max-width: 414px) {
    #rechthoek {
        width: 100%;
        height: 1180px;
        background: #81B4C6 0 0 no-repeat padding-box;
        border-radius: 35px;
        position: relative;
        display: flex;
        flex-basis: 40%;
        margin-top: 40px;
    }

    .illustratie2 {
        width: 320px;
        height: 100%;
    }

    .aboutmerow {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    #rechthoek p {

        position: relative;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 33rem;
        flex-basis: 80%;
        display: flex;
        text-align: center;
        font-size: 16px;
    }

    #rechthoek h1 {

        position: absolute;
        z-index: 3;
        margin: 25.5rem 0 auto;
        font-size: 70px;
        text-align: center;
        margin-left: 13px;
    }

    #rechthoek img {
        width: 350px;
        height: 350px;
        position: absolute;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 2.6rem;
    }

    .hallodaar {
        height: 13px;
        text-align: center;
        font: normal normal normal 83px/100px Inter;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        z-index: 3;
        margin: 0 auto;
    }

    .aboutme {
        margin: 3rem auto;
    }

    .scroll {
        width: auto;
        height: 306px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px;
        overflow-y: hidden;
        display: flex;

    }
.contactmain {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

    }
    .contactmain #contact-form {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 300px;

    }
    .row5 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 90%;
    }

    input {
        width: 70%;
        padding: 10px;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    textarea {
        width: 400px;
        height: 200px;
        border: 0;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        outline: none;
    }


    label {
        font-size: 20px;
        color: #77BCBD ;
        margin: 5px;
    }

    .portfolio-wpl-buttons a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: auto;
        width: auto;

    }

    .illustratie {
        width: 340px;
        position: relative;
        margin: 0 auto;
    }
    .contactmain button {
        width: 200px;
        margin-top: 20px;
    }

    .row {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .navbar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
    }

    .logomain {
        position: relative;
        padding: 15px;
        margin: 0 auto;

    }

    .col-1 {
        padding: 15px;
        margin: 0
    }

    .col-2 {
        padding: 15px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    #navbarbutton {
        margin-right: 15px;
        padding: 10px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: right;
        margin: 0;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: right;
    }


    .social-links-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin: 0 auto;
    }

    .social-links-contact svg {
        height: 60px;
        margin-top: 30px;
        margin-left: 50px;
        color: white;
        font-size: 25px;
        position: sticky;
        fill: white;
        margin: 0 auto;
    }

    .social-links-contact svg:hover {
        color: #ebb548;
        fill: #ebb548;
    }

    .social-links-contact a {
        text-decoration: none;
    }

    .portfolio-images1 img {
        width: auto;
        height: 230px;
        padding: 8px;
        margin: auto;
        text-align: center;
        justify-content: center;


    }

    .portfolio-main {
        margin: 0;
        padding: 0;
        padding-top: 80px;
    }

    .portfolio-images2 {
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .portfolio-images2 img {
        height: 230px;
        padding: 8px;
        margin: 0 auto;

    }

    .portfolio-images3 {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portfolio-images3 img {
        height: 230px;
        padding: 8px;
        margin: 0 auto;

    }


    .portfolio-images4 {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portfolio-images4 img {
        height: 230px;
        padding: 8px;
        margin: 0 auto;

    }

}


.submit:hover {
    background-color: #ebb548;
    color: white;
}

.submit {
    background-color: white;
    color: #2F92A8;
}

@media only screen and (max-width: 375px) {
    #rechthoek h1 {

        position: absolute;
        z-index: 3;
        margin: 25rem auto 0 auto;
        font-size: 60px;
        text-align: center;
        margin-left: 9px;
    }
}

