/* algemene css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #2F92A8;
}

/* specifieke css */
main .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.logomain {
    width: 150px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 30px;
}


nav {
    flex: 1;
    text-align: right;
    margin-right: 80px;
    margin-top: 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ebb548;
}

main {
    padding: 30px;
    margin: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

.col-1 h2 {
    font-size: 50px;
    color: white;
}

.col-1 h1 {
    font-size: 50px;
    color: white;
}

#contactpage button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    margin-top: 9px;
    outline: none;
    color: white;
    background: #295b69;
    border-radius: 6px;
    transition: width 0.5s;
}

#contactpage button img {
    width: 30px;
    display: none;
}

#contactpage button:hover img {
    display: block;
}

#contactpage button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #a8c6d2; */
    background-color: #ebb548;
    cursor: pointer;
}

.col-1:after {
    content: '';
    width: 10px;
    height: 75%;
    background: #a8c6d2;
    position: absolute;
    left: -40px;
    top: 8px;
    border-radius: 6px;
}

.col-2 {
    position: relative;
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.color-circle {
    position: absolute;
    right: 0;
    top: 0;
    background: #a8c6d2;
    border-radius: 50%;
    height: 393px;
    width: 393px;
    z-index: -1;
}

.illustratie {
    width: 393px;
    height: 394px;
    position: sticky;
}

.color-circle {
    position: sticky;
}

.illustratie {
    position: absolute;
}

.social-links i {
    height: 20px;
    margin: 30px;
    color: white;
    font-size: 25px;
    position: sticky;
}

.social-links i:hover {
    color: #ebb548;
}

.social-links {
    text-align: center;
}

#onderkant h5 {
    text-align: center;
    color: white;

}

#contactpage {
    text-decoration: none;
    cursor: pointer;
}

footer h5 {
    margin-bottom: 50px;
}

#rechthoek {
    width: 1250px;
    height: 534px;
    background: #81B4C6;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-basis: 100%;
    padding-right: 20px;
}

p {

    width: 750px;
    height: 341px;
    text-align: left;
    font: normal normal normal 24px/31px Varela Round;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    z-index: 3;

}

.hallodaar {
    width: 432px;
    height: 100px;
    text-align: center;
    font: normal normal normal 83px/100px Varela Round;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    z-index: 3;
}

#rechthoek img {

    width: 428px;
    height: 434px;
    position: absolute;
    z-index: 3;
    margin-left: 50rem;
    margin-top: 3.2rem;
}

#rechthoek p {

    position: absolute;
    z-index: 3;
    margin-left: 2rem;
    margin-top: 11rem;
}

#rechthoek h1 {

    position: absolute;
    z-index: 3;
    margin-left: 1.5rem;
    margin-top: 3rem;
}

#rechthoek img {

    position: sticky;
}

.portfolio-buttons button {
    width: 210px;
    height: 50px;
    border: 0;
    padding: 12px 10px;
    display: flex;
    color: white;
    background: #81B4C6;
    outline: none;
    border-radius: 6px;
    margin-left: 30px;
    justify-content: center;
    margin-top: -60px;
    font-size: 20px;
}

.portfolio-buttons button:hover {
    background-color: #ebb548;
    cursor: pointer;
    transition: width 0.5s;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    text-decoration: none;
}

.portfolio-buttons a {
    text-decoration: none;
}

.wplbutton {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.wplbutton button {
    width: 210px;
    height: 50px;
    border: 0;
    padding: 12px 10px;
    display: flex;
    color: white;
    background: #81B4C6;
    outline: none;
    justify-content: center;
    border-radius: 6px;
    margin-left: 30px;
    margin-top: -60px;
    font-size: 20px;
    align-items: center;
}

.wplbutton button:hover {
    background-color: #ebb548;
    cursor: pointer;
    transition: width 0.5s;
}

#button-1 {
    background-color: #ebb548;
}

#button-4 {
    background-color: #ebb548;
}

.portfolio-wpl-buttons {
    display: flex;
    width: auto;
    justify-content: center;
    margin: 60px;
    align-items: center;
}

.portfolio-wpl-buttons button {
    width: 300px;
    height: 300px;
    border: 0;
    display: flex;
    color: white;
    background: #81B4C6;
    outline: none;
    border-radius: 20px;
    justify-content: center;
    font-size: 40px;
    margin: 60px 60px 60px 60px;
    align-items: center;
}

.portfolio-wpl-buttons button:hover {
    background-color: #ebb548;
    cursor: pointer;
    transition: width 0.5s;
}

.portfolio-wpl-buttons a {
    text-decoration: none;
}

@media only screen and (max-width: 949px) {

    nav ul {
        width: 100%;
        position: relative;
        top: 90px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px;
    }

    nav ul li a {
        color: white;
    }

    nav {
        flex: 1;
        text-align: left;
        margin-top: 30px;
        margin-left: -150px;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
        align-items: center;
    }

    .illustratie {
        width: 340px;
        height: 341px;
        position: relative;
    }

    .color-circle {
        position: absolute;
        width: 340px;
        height: 341px;
    }

    .logomain {
        width: 150px;
        cursor: pointer;
        margin-left: 30px;
        margin-top: -100px;
    }

    .col-1 {
        flex-basis: 40%;
        position: relative;
        margin-left: 20px;
    }

    .col-1 h2 {
        font-size: 50px;
        color: white;
    }

    footer {
        margin-bottom: 30px;
    }

    #rechthoek {
        width: 100%;
        height: 1180px;
        background: #81B4C6 0% 0% no-repeat padding-box;
        border-radius: 35px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-basis: 40%;
        margin-top: 40px;
        margin-left: 5px;
        margin-right: auto;
    }

    #rechthoek p {

        position: relative;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 38rem;
        flex-basis: 80%;
        display: flex;
        text-align: center;
    }

    #rechthoek h1 {

        position: absolute;
        z-index: 3;
        text-align: center;
        margin-left: 1rem;
        margin-top: 31.5rem;
    }

    #rechthoek img {
        width: 428px;
        height: 434px;
        position: absolute;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 2.6rem;
    }

    .illustraties h1 {
        font-size: 50px;
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }

    main {
        margin-top: 3.2rem;
        margin-right: 0;
        padding-top: 5px;
        margin-left: 0;
        padding-left: 0;
    }

    .scroll {
        width: 1900px;
        height: 400px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 30px;
        overflow-y: hidden;
        display: flex;
    }

    .portfolio-buttons button {

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .portfolio-buttons button:hover {
        background-color: #ebb548;
        cursor: pointer;
        transition: width 0.5s;
    }

    .portfolio-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -20px;
    }

    .portfolio-wpl-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        align-items: center;

    }

    .portfolio-wpl-buttons button {
        border: 0;
        display: flex;
        color: white;
        background: #81B4C6;
        outline: none;
        border-radius: 20px;
        justify-content: center;
        font-size: 40px;
        margin-left: 45px;
        margin-bottom: 20px;
        align-items: center;
    }
    .scroll {
        width: auto;
        height: 306px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px;
        overflow-y: hidden;
        display: flex;

    }
}

.scroll {
    width: auto;
    height: 306px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    overflow-y: hidden;
    display: flex;

}

.scroll::-webkit-scrollbar {
    height: 10px;
    background-color: #a8c6d2;
    border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #295b69;
}


.illustraties h1 {
    font-size: 50px;
    color: white;
    margin-left: 30px;
}

.ontwerpen h1 {
    font-size: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}

.contact-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 500px;

}
input {
    width: 500px;
    height: 50px;
    border: 0;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
textarea {
    width: 500px;
    height: 200px;
    border: 0;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
.contact-form {
    background-color: #a8c6d2;
    height: 800px;
    width: 700px;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin: 0 auto;
}
label {
    font-size: 20px;
    color: white;
    margin: 10px;
}

@media only screen and (max-width: 414px) {
    #rechthoek {
        width: 100%;
        height: 1180px;
        background: #81B4C6 0% 0% no-repeat padding-box;
        border-radius: 35px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-basis: 40%;
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 0;
    }

    #rechthoek p {

        position: relative;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 33rem;
        flex-basis: 80%;
        display: flex;
        text-align: center;
        font-size: 16px;
    }

    #rechthoek h1 {

        position: absolute;
        z-index: 3;
        margin: 25.5rem auto 0 auto;
        font-size: 70px;
        text-align: center;
        margin-left: 9px;
    }

    #rechthoek img {
        width: 350px;
        height: 350px;
        position: absolute;
        z-index: 3;
        margin-left: 1rem;
        margin-top: 2.6rem;
    }
    .hallodaar {
       font-size: 13px;
        text-align: center;
        font: normal normal normal 83px/100px Varela Round;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;
        z-index: 3;
    }
    .aboutme {
    margin:3rem auto ;}

    .scroll {
        width: auto;
        height: 306px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px;
        overflow-y: hidden;
        display: flex;

    }
    .contact-form form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        width: 300px;

    }
    input {
        width: 300px;
        height: 50px;
        border: 0;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        outline: none;
    }
    textarea {
        width: 300px;
        height: 200px;
        border: 0;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        outline: none;
    }
    .contact-form {
        background-color: #a8c6d2;
        height: 750px;
        width: 400px;
        display: flex;
        justify-content: center;
        border-radius: 35px;
        margin-left: 7px;
        margin-top: 60px;
    }
    label {
        font-size: 15px;
        color: white;
        margin: 5px;
    }
}
.submit:hover {
    background-color: #ebb548;
    color: white;
}
